

/* Nav list properties*/
nav ul {
    padding: 20px;
}

/* Nav Unorderlist by item properties */
nav ul>li {
    display: inline-block;
    margin: 0.8rem .5rem 0 0;
}
/* Nav style for container */
nav ul>li>a {
    padding: .25rem 1rem;
    color: inherit;
    border: 2px solid rgb(121, 60, 219);
    border-radius: 10px;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: rgb(79, 63, 223);
  }

/* mouse over link */
a:hover {
    color: hotpink;
    background: #3399ff;
  }
  main {
    margin: 4rem 0;
    height: 1000px;
}

/* DAY 8 STYLES */
* {
    box-sizing: border-box;
}

header {
    padding: 2rem;
}
h1 {
    text-align: center;
}
.column {
    float: left;
    width: 25%;
    background-color: lightsteelblue;
    border: 0.06rem solid;
    padding: .95rem;
}

.clearfix {
    clear: both;
    overflow: auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .footer{
    padding: 30px; 
    text-align: center;
    background-color: #770d92d0;
  }

  .logo{
      background-color: 0,0,0,0;
  }